---
label: 'Using Dialogs For ALL!'
top_level: true
---
<p>Makes it possible to use query parameters display any (internal) link in a "popup" dialog.
If the dialog is declared as <em>modal</em>, it blocks the rest of the page' function.
Note that all query parameters under the "dialog" namespace are converted to
internal attributes and do not show up in the final link.
</p>

<h2>Known issues</h2>
<p>Core: <a href="https://www.drupal.org/project/drupal/issues/2663316">Broken title in modal dialog when title is a render array [#2663316]</a></p>

<h2>Basic syntax</h2>
<p>The simplest form just opens a dialog:</p>
<p>{% set l='internal:/?dialog' %}{{ link(l,l) }}</p>
<p>...which is the short form of</p>
<p>{% set l='internal:/?dialog=dialog' %}{{ link(l,l) }}</p>
<p>The only other built in value for type is <em>modal</em>. Contributed modules may add to this.</p>
<p>{% set l='internal:/?dialog=modal' %}{{ link(l,l) }}</p>
<p>Fun fact: There is also a dialog <b>option</b>, which is similar <b>but</b> allows to be nested.</p>
<p>{% set l='internal:/?dialog[options][modal]=1' %}{{ link(l,l) }}</p>

<h2>Extended syntax</h2>

<h3>Dialog type</h3>
<p>The above is equivalent to:</p>
<p>{% set l='internal:/?dialog[type]=dialog' %}{{ link(l,l) }}</p>
<p>...and:</p>
<p>{% set l='internal:/?dialog[type]=modal' %}{{ link(l,l) }}</p>
<p>In other words, basic syntax only allows to specify dialog type.
So let's see what there's more.</p>

<h3>Dialog renderer</h3>
<p>You can also use: </p>
<p>{% set l='internal:/?dialog[renderer]=off_canvas' %}{{ link(l,l) }}</p>
<p>...and:</p>
<p>{% set l='internal:/?dialog[renderer]=off_canvas_top' %}{{ link(l,l) }}</p>
<p>These are currently the only built in renderers. Contributed modules may add to this.</p>
<p>NOTE: It looks like modal and off_canvas can NOT be combined.</p>
<p>{% set l='internal:/?dialog[type]=modal&dialog[renderer]=off_canvas' %}{{ link(l,l) }}</p>

<h3>Dialog options</h3>
<p>You can use all valid <a href="https://api.jqueryui.com/dialog/" title="JQuery UI dialog options" class="markdown-link">JQuery UI dialog options</a>.</p>
<p>Either as array:</p>
<p>{% set l='internal:/?dialog[options][height]=100&dialog[options][width]=200' %}{{ link(l,l) }}</p>
<p>...or as JSON string:</p>
<p>{% set l='internal:/?dialog[options]={"height":100,"width":200}' %}{{ link(l,l) }}</p>
<p>{% set l='internal:/?dialog[options]={"title":"Look at this!"}' %}{{ link(l,l) }}</p>
<p>But be warned: Invalid JSON will break the link.</p>

<h3><a id="effects" href="#effects" class="anchor">#</a> Effects</h3>
<p>You can use effects for the <em>show</em> and <em>hide</em> options:</p>
<p>{% set l='internal:/?dialog[options][show]=fadeIn&dialog[options][duration]=5000' %}{{ link(l,l) }}</p>
<p>{% set l='internal:/?dialog[options]={"hide":{"effect":"fadeOut","duration":15000,"easing":"linear"}}' %}{{ link(l,l) }}</p>

<h3>Libraries</h3>
<p>You can require additional libraries, e.g. for effects:</p>
<p>{% set l='internal:/?dialog[options]={"show":"pulsate","hide":"explode"}&dialog[libraries]=core/jquery.ui.effects.pulsate|core/jquery.ui.effects.explode' %}{{ link(l,l) }}</p>

<h3>Miscellaneous</h3>
<p>If a *destination* query parameter without value is added, it's value will be the current page.
This is useful for forms.</p>
<p>{% set l='internal:/?dialog&destination' %}{{ link(l,l) }}</p>

<h2>Future</h2>
<p>We may add a *style* parameter to have pre-defined sets of options. And / or a global default style. Patches accepted.</p>
